# This file avoid that the ansible role indigo.dc-galaxycloud-tooldeps is re-run on your Worker Nodes,
# leading to user custom tools setting lost.
# Removing this file will cause an update of your nodes configuration during the Infrastructure updates, e.g. worker nodes deployment.
# If you don't know or you are not sure of what are you doing
# leave it here.
